p{color:white;}
#enc-3{color: antiquewhite;}  
.enc-green{color:floralwhite;}
#párrafo{color: brown;}
body{
    background-color:#bcb8b1;
}

h1{margin: 0px;
   padding: 10px;
text-align: center;}
p{margin-bottom: 10px;
  padding: 10px;
}

h2{ text-align: center;
    color: #463f3a ;
    margin:0px;
    padding: 0px;
    }
ul{color:aliceblue;} 

.container-fluid{
  background-color:white;
}

.navbar-brand{
  color: #463f3a;
}